spring:
  application:
    name: analytics
  datasource:
    url: jdbc:postgresql://localhost:5432/analytics_db
    username: analytics_user
    password: analytics_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
